html {
	height: 800px;
	overflow: visible;
}
body {
	border: 12px solid #262626;
	height: 800px;
	width: auto;
	overflow: hidden;
	font-size: 16px;
	line-height: 1.5em;
	position: relative;
}
img.icon {
	width: auto;
}
.container {
	height: 800px;
}
.footer { 
	position: fixed;
}
.main-message {
	font-size: 20px;

}
li {
	font-size: 16px;
	margin-bottom: 15px;
}
.talking-point {
	font-weight: bold;
}