h1,h2,h3 {
	font-weight: bold;
    font-family: 'brandon_grotesque';
    -webkit-font-smoothing: antialiased;
}
html {
	height: 800px;
	overflow: hidden;
}
body {
	border: 12px solid #262626;
	height: 800px;
	overflow: hidden;
	color: #fff;

    font-family: 'brandon_grotesque';
    -webkit-font-smoothing: antialiased;
}
.container {
}

.header-text h1 {
	font-size:80px;
	margin:0;
	text-align: center;
	text-transform: uppercase;
	line-height: 1;
}

.header-text h2 {
	font-size:23px;
	text-transform: uppercase;
	color: #f2c45a;
	text-align:center;
	margin:0 0 10px 0;
}

.instructions {
	width:100%;
	padding:10px 0;
	background: #f2c45a;
}

.instructions p {
	margin:0;
	color:black;
}

.footer { 
	position: fixed;
}
#main-message {
	font-size: 23px;
	line-height:1.2;
}

#sub-message {
	font-size:18px;
	margin-top:10px;
}

#sub-message a {
	text-decoration: underline;
	color:black;
}

li {
	font-size: 16px;
	margin-bottom: 15px;
}
.talking-point {
	font-weight: bold;
}

