/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 50, ../sass/styles 2.scss */
body {
  width: 100%;
  *zoom: 1;
}
/* line 36, ../sass/styles 2.scss */
body:before, body:after {
  content: "";
  display: table;
}
/* line 40, ../sass/styles 2.scss */
body:after {
  clear: both;
}

/* line 82, ../sass/styles 2.scss */
html {
  overflow: hidden;
  width: 100%;
  height: 100%;
  background: #000;
}

/* line 88, ../sass/styles 2.scss */
body {
  margin: 0 auto;
  overflow: hidden;
  padding: 0;
  background: #000;
  color: #FFF;
  width: 100%;
  height: 100%;
  font-size: 18px;
  font-family: 'Quattrocento Sans', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}

/* line 100, ../sass/styles 2.scss */
div.container {
  width: 600px;
  margin: 0 auto;
  background: #000;
}

/* line 105, ../sass/styles 2.scss */
a {
  color: #f2c45a;
  text-decoration: none;
}
/* line 108, ../sass/styles 2.scss */
a:hover {
  text-decoration: underline;
}

/* line 112, ../sass/styles 2.scss */
strong {
  color: #f2c45a;
}

/* line 116, ../sass/styles 2.scss */
img {
  border: none;
  width: 100%;
  height: auto;
}

/* line 122, ../sass/styles 2.scss */
input {
  border: 4px solid #f2c45a;
  background: none;
  font-size: 0.8em;
  padding: 0.5em;
  color: #f2c45a;
  font-style: italic;
  margin: -4px;
  width: 90%;
  margin: 1em auto;
  display: block;
}
/* line 133, ../sass/styles 2.scss */
input:focus, input:active {
  background: #FFF;
  color: #333;
  font-style: normal;
}
/* line 138, ../sass/styles 2.scss */
input#submit {
  background: #f2c45a;
  font-style: normal;
  font-family: "Josefin Sans", Helvetica, Arial, sans-serif;
  font-weight: bold;
  color: #333;
}

/* line 150, ../sass/styles 2.scss */
h2 {
  font-family: "Josefin Sans", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.5em;
  border-bottom: 1px solid #FFF;
  padding-bottom: 1em;
  margin-bottom: 1em;
}
/* line 158, ../sass/styles 2.scss */
h2 a {
  display: block;
}

/* line 166, ../sass/styles 2.scss */
#slides .slide {
  padding-top: 3em;
  display: block;
  width: 102.08333%;
  margin: 0 -1.04167%;
  *zoom: 1;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}
/* line 36, ../sass/styles 2.scss */
#slides .slide:before, #slides .slide:after {
  content: "";
  display: table;
}
/* line 40, ../sass/styles 2.scss */
#slides .slide:after {
  clear: both;
}

/* line 174, ../sass/styles 2.scss */
form {
  display: block;
}
/* line 176, ../sass/styles 2.scss */
form div {
  display: inline;
  float: left;
  width: 22.08333%;
  margin: 0 1.04167%;
  text-align: center;
}

/* line 181, ../sass/styles 2.scss */
#header {
  display: inline;
  float: left;
  width: 43.75%;
  margin: 0 1.04167%;
  margin-right: 5.20833%;
}

/* line 188, ../sass/styles 2.scss */
#footer {
  background: #262626;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  font-family: "Josefin Sans", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.9em;
}
/* line 199, ../sass/styles 2.scss */
#footer ul {
  text-align: justify;
  padding: 1em 2em;
  padding-bottom: 0;
}
/* line 203, ../sass/styles 2.scss */
#footer ul li {
  display: inline-block;
  text-align: left;
  line-height: 1em;
}
/* line 207, ../sass/styles 2.scss */
#footer ul li.break {
  width: 100%;
  height: 0px;
  overflow: hidden;
  line-height: 0;
}

@media (min-width: 1080px) {
  /* line 219, ../sass/styles 2.scss */
  #second-slide {
    max-width: 1080px;
  }
}
