html {
    overflow: hidden;
}
body {
    margin: 0;
    overflow: hidden;
    padding: 0;
    background: #000;
}

img {
    border: none;
}

.footer {
  background: #262626;
  color: #444;
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  height: 40px;
}