@font-face {
    font-family: 'brandon_grotesque';
    src: url('fonts/brandongrotesque-blackitalic-webfont.eot');
    src: url('fonts/brandongrotesque-blackitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/brandongrotesque-blackitalic-webfont.woff') format('woff'),
         url('fonts/brandongrotesque-blackitalic-webfont.ttf') format('truetype'),
         url('fonts/brandongrotesque-blackitalic-webfont.svg#brandon_grotesqueblack_italic') format('svg');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'brandon_grotesque';
    src: url('fonts/brandongrotesque-mediumitalic-webfont.eot');
    src: url('fonts/brandongrotesque-mediumitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/brandongrotesque-mediumitalic-webfont.woff') format('woff'),
         url('fonts/brandongrotesque-mediumitalic-webfont.ttf') format('truetype'),
         url('fonts/brandongrotesque-mediumitalic-webfont.svg#brandon_grotesqueMdIt') format('svg');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'brandon_grotesque';
    src: url('fonts/brandongrotesque-regular-webfont.eot');
    src: url('fonts/brandongrotesque-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/brandongrotesque-regular-webfont.woff') format('woff'),
         url('fonts/brandongrotesque-regular-webfont.ttf') format('truetype'),
         url('fonts/brandongrotesque-regular-webfont.svg#brandon_grotesque_regularRg') format('svg');
    font-weight: normal;
    font-style: normal;
}

html {
    overflow: hidden;
}
body {
    margin: 0;
    overflow: hidden;
    padding: 0;
    background: #000;
    font-family: 'brandon_grotesque';
    -webkit-font-smoothing: antialiased;
}

img {
    border: none;
}
span.important {
  color: #f3c550;
}
.call-form,
.email-form {
  margin-top: 50px;
}
.call-form .form-group,
.email-form .form-group{
  margin-bottom: 0;
}
.call-form label,
.email-form label {
  color: #fff;
  display: block;
  text-align: justify !important;
  letter-spacing: 1px;
  line-height: 20px;
  padding: 0 !important;
}

.call-form input.form-control,
.email-form input.form-control {
  margin-top: 8px;
  border-radius: 0 !important;
  height: 50px;
}

.call-form input[type="submit"],
.email-form input[type="submit"] {
  border: 0;
  background: none;
  color: #fff;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 10px 10px 10px 0;
}

.footer {
  background: #262626;
  color: #444;
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  height: 40px;
}
.footer-notice {
  line-height: 40px;
  height: 40px;
  color: #efefef;
  letter-spacing: 1px;
  font-weight: bold;
}
#banner-container {
    height: 300px;
}
/* See http://coding.smashingmagazine.com/2013/08/09/absolute-horizontal-vertical-centering-css/#Height if we start having problems*/
.abs-centered {
    margin: auto;
      position: absolute;
      top: 0; left: 0; bottom: 0; right: 0;
}